.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 90svw;
  height: 90svh;
  max-width: 1300px;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #000 solid;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

.user-name {
  overflow: hidden;
  word-wrap: break-word;
}

.main-title {
  white-space: nowrap;
}

.buttons-area {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  min-width: 100px;
  gap: 10px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 10px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: .7s;
}

.main-area {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: calc(80% - 30px);
}

.users-area {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px #000 solid;
  border-radius: 15px;
  width: 32%;
  padding: 10px;
  overflow: auto;
}

.users-search {
  width: calc(100% - 30px);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: calc(100% - 20px);
}

.active-user,
.inactive-user {
  display: flex;
  list-style: none;
  width: 100%;
  list-style-position: outside;
  font-size: 20px;
  margin: 5px 0;
}

.active-user-name {
  overflow: hidden;
  cursor: pointer;
}

.user-status-wrapper {
  display: flex;
  width: 15%;
  max-width: 25px;
  justify-content: center;
  align-items: center;
}

.user-status {
  width: 6px;
  height: 6px;
  border: 1px #000 solid;
  border-radius: 50%;
}

.active-user .user-status {
  background-color: #33ff33;
}

.inactive-user .user-status {
  background-color: red;
}

.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 64%;
  border: 2px #000 solid;
  border-radius: 15px;
  padding: 10px;
}

.user-info {
  display: flex;
  justify-content: space-around;
  height: 5%;
}

.message-history {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 85%;
  border-top: 2px #000 solid;
  border-bottom: 2px #000 solid;
  font-size: 24px;
  overflow: auto;
}

.old-messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.sent-message,
.recieved-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px #000 solid;
  border-radius: 10px;
  margin: 10px;
  padding: 6px;
}

.recieved-message {
  align-self: start;
}

.send-message-form {
  height: 8%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.message {
  width: 80%;
  height: 70%;
  border-radius: 3px;
  padding: 0 5px;
}

.send-button {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: .7s;
}

.header-button:hover,
.send-button:hover {
  transform: scale(1.05);
  transition: .7s;
}

.school-link {
  display: flex;
  width: 20%;
}

img {
  width: 70px;
}

.github-link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000;
  transition: .7s;
  font-weight: 900;
}

.github-link::after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: .7s;
}

.github-link:hover:after {
  width: 100%;
  transition: .7s;
}

.year {
  width: 20%;
  text-align: end;
}