.grid {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-wrap: wrap;
  border: 5px black solid;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px grey solid;
}