* {
  padding: 0px;
  margin: 0px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  border: 5px black solid;
}

.cell {
  background-color: white;
  border: 1px grey solid;
  cursor: pointer;
}

.cell-full {
  background-color: black;
}

.cell-cross {
  position: relative;
}

.cell-cross:before {
  position: absolute;
  top: 50%;
  display: block;
  content: '';
  background-color: black;
  height: 2px;
  width: 100%;
  transform: rotate(45deg);
}

.cell-cross:after {
  position: absolute;
  top: 50%;
  display: block;
  content: '';
  background-color: black;
  height: 2px;
  width: 100%;
  transform: rotate(-45deg);
}