.gallowsWrapper {
    display: flex;
    width: 353px;
    height: 581px;
    position: relative;
    z-index: 0;
}

.gallows {
    position: absolute;
    z-index: 1;
}

.hangHead {
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 13;
}

.hangBody {
    position: absolute;
    right: 50.5px;
    top: 231px;
    z-index: 13;
}