@font-face {
  font-family: 'Bony';
  src: url(fonts/BONY\ Regular.ttf);
}

.body {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url(images/forest-background.jpg) no-repeat center / cover;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* max-width: 1440px; */
  width: 100%;
  gap: 30px;
}

.gallows-wrapper {
  display: flex;
  max-width: 353px;
  max-height: 581px;
  width: 50%;
  height: 50%;
  position: relative;
  z-index: 0;
  margin: 0px 10px;
}

.gallows {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hang-head,
.hang-body,
.hang-left-hand,
.hang-right-hand,
.hang-left-leg,
.hang-right-leg {
  position: absolute;
  right: 0;
  top: 130px;
  z-index: 13;
}
.hang-body,
.hang-left-hand,
.hang-right-hand,
.hang-left-leg {
  right: 50.5px;
  top: 231px;
}
.hang-right-hand,
.hang-right-leg {
  right: -12.5px;
}
.hang-left-leg,
.hang-right-leg {
  top: 362px;
}
.riddle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  width: 70%;
  height: 70%;
  margin: 0px 10px;
}
.question-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bony';
  font-size: calc(2vw + 18px);
}
.question,
.answer {
  color: #EEE;
  text-align: center;
  margin: 0px;
  line-height: 150%;
}
.score {
  font-size: calc(2vw + 18px);
  font-family: 'Bony';
  color: #19ff19;
  line-height: 125%;
}
.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  gap: 8px;
}
.key {
  display: flex;
  justify-content: center;
  width: calc(2vw + 21px);
  height: calc(2vw + 21px);
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-family: 'Bony';
  font-size: calc(2vw + 6px);
  cursor: pointer;
  transition: .5s;
}
.key:hover {
  transform: scale(1.15);
  transition: .5s;
}
.key-inactive {
  cursor: default;
  background-color: #444;
}
.key-inactive:hover {
  transform: scale(1);
}
.background {
  display: flex;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: .6;
}
.lose-message, 
.win-message {
  font-family: 'Bony';
  font-size: 72px;
  color: white;
  text-align: center;
}
.invisible {
  display: none;
}

@media (max-width: 1410px) {
  .body {
    background: url(images/forest-background-cut.jpg) no-repeat;
  }
}
@media (max-width: 630px) {
  .question-answer {
    font-size: 24px;
  }
}