.gallows-wrapper {
    display: flex;
    width: 353px;
    height: 581px;
    position: relative;
    z-index: 0;
}

.gallows {
    position: absolute;
    z-index: 1;
}

.hang-head,
.hang-body,
.hang-left-hand,
.hang-right-hand,
.hang-left-leg,
.hang-right-leg {
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 13;
}
.hang-body,
.hang-left-hand,
.hang-right-hand,
.hang-left-leg {
    right: 50.5px;
    top: 231px;
}

.hang-right-hand,
.hang-right-leg {
    right: -12.5px;
}

.hang-left-leg,
.hang-right-leg {
    top: 362px;
}

.invisible {
    display: none;
}